# node
node_modules
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
.env.example.local
.env.example.development.local
.env.example.test.local
.env.example.production.local
.env.test

# yarn
.yarn
.yarnrc
.yarnrc.yml
.yarn-integrity
.yarn-metadata.json
.yarn-error.log
.yarnrc.yml

# package-lock.json
package-lock.json
